body {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 90dvh;
}

main {
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 60%;
}
input {
  margin-bottom: 0.6rem;
  width: 75%;
}
[type="checkbox"] {
  width: max-content;
  margin-right: 0.3rem;
}
.checkbox-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}
.checkbox-wrapper:last-of-type {
  place-self: start;
}

.checkbox-wrapper:first-of-type {
  margin-bottom: 0.7rem;
}
[type="submit"] {
  width: 150px;
}
