body {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
  background-image: url(assets/17545.jpg);
  /* Image by Harryarts on Freepik */
  background-size: cover;
  position: relative;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 50%);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
input {
  margin-bottom: 0.6rem;
  width: 75%;
}
[type="checkbox"] {
  width: max-content;
  margin-right: 0.3rem;
}
.checkbox-wrapper {
  display: flex;
  justify-content: start;
  align-items: normal;
}
.checkbox-wrapper:last-of-type {
  place-self: start;
}
[type="submit"] {
  width: 150px;
  margin: 10px auto;
}
