@font-face {
  font-family: "Open Sans";
  src: url(assets/open-sans-v35-latin-regular.woff2);
}

body {
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
  position: relative;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  color: darkslategray;
}
.form-preview {
  display: none;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  justify-content: center;
  align-items: center;
}
input {
  margin-bottom: 0.6rem;
  width: 75%;
  border: 2px solid #96cafc;
  border-radius: 15px;
  caret-color: #1677ff;
  height: 1.7rem;
  padding: 0 5px;
}
label {
  margin-left: 5px;
}
[type="checkbox"] {
  width: max-content;
  margin-right: 0.3rem;
}
.checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: normal;
}
.checkbox-wrapper label {
  display: block;
}
[type="submit"] {
  width: 150px;
  margin: 10px 0;
}

.checkbox {
  --primary-color: #1677ff;
  --secondary-color: #fff;
  --primary-hover-color: #4096ff;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style)
    var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}
.checkbox:checked {
  background-color: green;
  border: green;
}
.checkbox,
.checkbox *,
.checkbox *::before,
.checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* checkbox settings 👇 */
.checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5)
    var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
    opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

/* actions */

.checkbox:hover {
  border-color: var(--primary-color);
}

.checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg, #83c2fa 10.8%, #3577ba 94.3%);
  transition: all 0.475s;
}
.bold {
  font-weight: bold;
}
.blue {
  color: #3577ba;
}
@media (min-width: 768px) {
  main {
    flex-direction: row;
    width: 100%;
    height: 70%;
  }
  .form-preview {
    background: #3577ba;
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 7px 0 0 7px;
    color: white;
  }
  form {
    background: white;
    height: 100%;
    width: 45%;
    border-radius: 0 7px 7px 0;
  }
  .headline {
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;
    background-color: #acd5f9;
    color: #3577ba;
    font-size: 1.5rem;
  }
  .list {
    list-style-type: none;
    font-size: 1.1rem;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .list-item {
    height: 2rem;
    font-weight: 700;
  }
  .list-item::before {
    content: url(assets/arrow-right.svg);
    transform: rotate(90deg);
    vertical-align: middle;
    margin-right: 3px;
  }
  .description {
    font-size: 1.2rem;
    background-color: #acd5f9;
    padding: 1rem;
    border-radius: 25px;
    color: #3577ba;
  }
}
